/* Frame Bar */
#frameBar {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: background-color 1s ease;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
}

/* Undraggable region on the top of the frame. */
#frameResizableTop {
    height: 2px;
    width: 100%;
    -webkit-app-region: no-drag;
}

/* Flexbox to wrap the main frame content. */
#frameMain {
    display: flex;
    height: 20px
}

/* Undraggable region on the left and right of the frame. */
.frameResizableVert {
    width: 2px;
    -webkit-app-region: no-drag;
}

/* Main frame content for windows. */
#frameContentWin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    -webkit-app-region: drag;
}

/* Frame logo (windows only). */
#frameImageDock {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#frameImage {
    height: 15px;
    filter: grayscale(100%);
}

/* Windows frame button dock. */
#frameButtonDockWin {
    -webkit-app-region: no-drag !important;
    position: relative;
    top: -2px;
    right: -2px;
    height: 22px;
}
#frameButtonDockWin > .frameButton:not(:first-child) {
    margin-left: -4px;
}

/* Windows Frame Button Styles. */
.frameButton {
    background: none;
    border: none;
    height: 22px;
    width: 39px;
    cursor: pointer;
}
.frameButton:hover,
.frameButton:focus {
    background: rgba(189, 189, 189, 0.43);
}
.frameButton:active {
    background: rgba(156, 156, 156, 0.43);
}
.frameButton:focus {
    outline: 0px;
}

/* Close button is red. */
#frameButton_close:hover,
#frameButton_close:focus {
    background: rgba(255, 53, 53, 0.61) !important;
}
#frameButton_close:active {
    background: rgba(235, 0, 0, 0.61) !important;
}